/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    color: white;
    scroll-behavior: smooth;  
    overflow-x: hidden;
}
button {
    all:unset;
}



/* Header Section */
.bodyspring {
    background-image: url('../assets/springbackground.jpg');
    background-size: cover;
    overflow-x: hidden;
    z-index: 0;

}
.bodyfall {
    background-image: url('../assets/fallbackground.jpg');
    background-size: cover;
    overflow-x: hidden;
    z-index: 0;

}
.bodysummer {
    background-image: url('../assets/summerbackground.jpg');
    background-size: cover;
    overflow-x: hidden;
    z-index: 0;

}
.bodywinter {
    background-image: url('../assets/winterbackground.jpg');
    background-size: cover;
    overflow-x: hidden;
    z-index: 0;

}

a {
    text-decoration:none;
}






.heart {
    width: 1.2em; /* Taille ajustée à celle du texte */
    height: auto; /* Conserve les proportions de l'image */
    vertical-align: -0.3em; /* Aligne le cœur avec le texte */
    margin-left: -0.1em; /* Ajoute un petit espace entre "Wallonie" et le cœur */
}



/* Navbar Section */
nav {
    position: fixed; /* Fixé en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 65px 10px 65px; /* Moins de padding pour plus de compacité */
    display: flex; /* Flexbox pour aligner logo et menu */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: space-between; /* Sépare logo et liens */
    z-index: 10;
    opacity: 0; /* Invisible au départ */
    transform: translateY(-100%); 
    transition: all 0.5s ease-in-out;
}
.navbarspring {
    background: rgba(0, 37, 10, 0.8);
}
.navbarsummer {
    background-color: rgba(30, 91, 166, 0.798);
}
.navbarfall {
    background: rgba(37, 4, 0, 0.8);
}
.navbarwinter {
    background: rgba(0, 1, 37, 0.8);
}

.logo {
    height: 60px; /* Ajuste la taille du logo */
    width: auto;
    
}
@media (max-width:768px) {
    .logo {
        display:none;
    }
}

nav.visible {
    opacity: 1; /* Visible */
    transform: translateY(0); /* Revient à sa position normale */
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Aligne les liens à droite */
    gap: 20px; /* Espacement entre les liens */
    margin: 0;
    padding: 0;
}
@media (max-width:768px) {
    nav ul {
        list-style: none;
        width:100%;
        display: flex;
        justify-content: center; /* Aligne les liens à droite */
        gap: 20px; /* Espacement entre les liens */
        margin: 0;
        padding: 0;
    }

}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Sticky effect */
body:has(main:target) nav {
    top: 0;
}

/* Main Section */
.titreconteneur {
    text-align:center;
    margin : 50px 0;
    font-size : 30px;
}
@media (max-width:768px){
    .titreconteneur h2{
        text-align:center;
        width:100%;
        font-size:30px;
        padding:15px;
    }
}
.titreconteneur h4{
    text-align: justify;
    width:800px;
    margin: auto;
}
@media (max-width:768px){
    .titreconteneur h4{

        width:390px;
        font-size:15px;
        padding:15px;
    }
}
.titreconteneur p{
    text-align: justify;
    width:800px;
    margin: auto;
}
@media (max-width:768px){
    .titreconteneur p{

        width:390px;
        font-size:15px;
        font-weight: normal;
        padding:15px;
    }
}

.walksconteneur {
    display:flex;
    justify-content: center;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 70px;


}
@media (max-width:768px){
    .walksconteneur{
        gap:0px;
        background-color: rgba(1, 92, 9, 0.269);
        height:170px;
        width:100%;
        margin : 0;
        padding: 0 30px;
    }
}

.cadrewalk {
    position:relative;
    border-radius: 10px;
    box-shadow : 2px 2px 10px rgba(0, 0, 0, 0.223);
    height : 400px;
    width : 300px;
    margin: 0 0 50px;
}
@media (max-width:768px){
    .cadrewalk{
        height:150px;
        margin: 0 0 0 20px;
    }
}

.cadrewalk img {
    object-fit : cover;
    height:100%;
    width:100%;
    border-radius: 10px;

}


.backgroundsaisonspring {
    background-color: rgba(0, 108, 31, 0.11);
}
.backgroundsaisonsummer {
    background-color: rgba(0, 88, 176, 0.11);
}
.backgroundsaisonfall {
    background-color: rgba(146, 0, 0, 0.109);
}
.backgroundsaisonwinter {
    background-color: rgba(10, 0, 97, 0.113);
}

form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    font-size:20px;
}


label {
    display: flex;
    margin-bottom: 8px;
    margin-left: 15px;
    font-weight: bold;
}

input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

input[type=checkbox] {
    margin:4px 0 0 0px;;
    width:30px;
    transform: scale(1.4);
}
@media (max-width:768px) {
    input[type=checkbox] {
        transform: none;
    }
}

span {
    text-align: justify;
    font-weight: normal;
    padding-right: 5px;
}


.résumé {
    position:relative;
    width:800px;
    height:840px;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.255);
    margin:0 auto 50px;
    padding: 15px 0;
    display:flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.résumé h2{
    margin: 0 0 11px;
}
@media (max-width:768px) {
    .résumé {
        width:395px;
        border-radius: 0;
        height: 1020px;
    }
}
.boutonconteneur {
    position:absolute;
    bottom: -20px;
    left:34%;
    margin : 0px 0px 60px;
}
@media (max-width:768px) {
    .boutonconteneur{
        left:20%;
    }
}

.bouton {
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow : 2px 2px 10px rgba(0, 0, 0, 0.223);
    height : 60px;
    width : 250px;
    font-size: 20px;
}
.boutonspring {
    background-color: #015c08dd;
}
.boutonsummer {
    background-color: #013b5cdd;
}
.boutonfall {
    background-color: #5c0101dd;
}
.boutonwinter {
    background-color: #01075cdd;
}

@media (max-width:768px){
    .bouton{
        box-shadow: none;
    }
}



.season {
    height:4rem;
}





.iframefooter {
    width:100%;
    height:460px;
    border:none;
    overflow:hidden;
}

@media (max-width:768px) {
    .iframefooter {
        height: 300px;
    }
}


.bodyspring .iframefooter {
    background-color: rgba(0, 66, 6, 0.89); 
}
.bodysummer .iframefooter {
    background-color: rgba(30, 91, 166, 0.798);
}
.bodyfall .iframefooter {
    background-color: rgba(48, 5, 0, 0.887) ;
}
.bodywinter .iframefooter {
    background-color: rgba(26, 28, 81, 0.909);
}
