/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, sans-serif;
    color: white;
    scroll-behavior: smooth;  
    overflow-x: hidden;
}
button {
    all:unset;
}



/* Header Section */
.bodyspring {
    background-image: url('../assets/springbackground.jpg');
    background-size: cover;
    overflow-x: hidden;
    z-index: 0;

}
.bodyfall {
    background-image: url('../assets/fallbackground.jpg');
    background-size: cover;
    overflow-x: hidden;
    z-index: 0;

}
.bodysummer {
    background-image: url('../assets/summerbackground.jpg');
    background-size: cover;
    overflow-x: hidden;
    z-index: 0;

}
.bodywinter {
    background-image: url('../assets/winterbackground.jpg');
    background-size: cover;
    overflow-x: hidden;
    z-index: 0;

}

a {
    text-decoration:none;
}






.heart {
    width: 1.2em; /* Taille ajustée à celle du texte */
    height: auto; /* Conserve les proportions de l'image */
    vertical-align: -0.3em; /* Aligne le cœur avec le texte */
    margin-left: -0.1em; /* Ajoute un petit espace entre "Wallonie" et le cœur */
}



/* Navbar Section */
nav {
    position: fixed; /* Fixé en haut de la page */
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    padding: 10px 65px 10px 65px; /* Moins de padding pour plus de compacité */
    display: flex; /* Flexbox pour aligner logo et menu */
    align-items: center; /* Centre les éléments verticalement */
    justify-content: space-between; /* Sépare logo et liens */
    z-index: 10;
    opacity: 0; /* Invisible au départ */
    transform: translateY(-100%); 
    transition: all 0.5s ease-in-out;
}
.navbarspring {
    background: rgba(0, 37, 10, 0.8);
}
.navbarsummer {
    background-color: rgba(30, 91, 166, 0.798);
}
.navbarfall {
    background: rgba(37, 4, 0, 0.8);
}
.navbarwinter {
    background: rgba(0, 1, 37, 0.8);
}

.logo {
    height: 60px; /* Ajuste la taille du logo */
    width: auto;
    
}
@media (max-width:768px) {
    .logo {
        display:none;
    }
}

nav.visible {
    opacity: 1; /* Visible */
    transform: translateY(0); /* Revient à sa position normale */
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Aligne les liens à droite */
    gap: 20px; /* Espacement entre les liens */
    margin: 0;
    padding: 0;
}
@media (max-width:768px) {
    nav ul {
        list-style: none;
        width:100%;
        display: flex;
        justify-content: center; /* Aligne les liens à droite */
        gap: 20px; /* Espacement entre les liens */
        margin: 0;
        padding: 0;
    }

}

nav li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

/* Sticky effect */
body:has(main:target) nav {
    top: 0;
}

/* Main Section */
.titreconteneur {
    text-align:center;
    margin : 50px 0;
    font-size : 30px;
}
@media (max-width:768px){
    .titreconteneur h3{
        text-align:center;
        width:100%;
    }
}

.walksconteneur {
    display:flex;
    justify-content: center;

    gap: 70px;


}
@media (max-width:768px){
    .walksconteneur{
        gap:0px;
        height:170px;
        width:100%;
        margin : 0;
        padding: 0 30px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .walksconteneurbgfall {
        background-color: rgba(92, 1, 1, 0.269);
    }
    .walksconteneurbgwinter {
        background-color: rgba(6, 1, 92, 0.269);
    }
    .walksconteneurbgspring {
        background-color: rgba(1, 92, 9, 0.269);
    }
    .walksconteneurbgsummer {
        background-color: rgba(1, 48, 92, 0.269);
    }
}

.cadrewalk {
    position:relative;
    border-radius: 10px;
    box-shadow : 2px 2px 20px rgba(0, 0, 0, 0.723);
    height : 400px;
    width : 300px;
}
@media (max-width:768px){
    .cadrewalk{
        height:150px;
        margin: 0 0 0 20px;
    }
}

.cadrewalk img {
    object-fit : cover;
    height:100%;
    width:100%;
    border-radius: 10px;


}
.cadrewalk:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease;
    cursor:pointer;
}
.cadrewalk img:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease;
    cursor:pointer;
}


.baladeinfosconteneur {
    position: relative;
    bottom : 120px;
    border-radius: 10px;
    height:100px;
    text-align:right;
    padding: 20px;
}
.baladeinfos {
    height: 80px;
    width:100%;
}
.baladeinfos p {
    position:absolute;
    top:-270px;
    right:15px;
    font-size:30px;
}


.checkA {
    display:block;
}
.checkB {
    display:none;
}
.checkC {
    display:none;
}



.inforeservationconteneur {
    display:flex;
    justify-content: center;
    margin : 50px 0;
    overflow: hidden;


}


.inforeservation {
    z-index: 1;
    box-shadow : 2px 2px 10px rgba(0, 0, 0, 0.146);
    height : 450px;
    width : 1200px;
    /* background-color: hsl(0, 0%, 100%); */
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    /* color: #015c08dd; */
    align-items:center;
    font-size: 20px;
    white-space:normal;

}

@media (max-width:768px) {
    .inforeservation{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        height:1370px;
        gap:20px;
    }
}

.infoderoulement {
    width:500px;
    height:100%;
    padding:20px 20px 10px 20px;

    border-left: 1px solid white;
}
.smartphone {
    display:none;
}
@media (max-width:768px) {
    .infoderoulement{
        display:none;

    }
    .smartphone{
        display:block;
        width:100%;
        padding:20px;

    }
    .smartphone h3{
        font-size:23px;
    }
}
.infoderoulement h3 {
    padding: 0 0 15px 0px;
    width:100%;
    
}


.descriptionbaladeconteneur {
    height:100%;
    display:flex;
    align-items: center;

}
@media (max-width:768px){
    .descriptionbaladeconteneur{
        background-color: transparent;
    }
}


.descriptionbalade {
    width:370px; 
    padding:0 25px;
    text-align: justify;
}
@media (max-width:768px) {
    .descriptionbalade {
        width:100%;

    }
}

#buttonDate1 {
    width:330px;
}
#buttonDate2 {
    width:330px;
}
#buttonDate3 {
    width:330px;
}

@media (max-width:768px){
    #buttonDate1 {
        width:100%;
    }
    #buttonDate2 {
        width:100%;
    }
    #buttonDate3 {
        width:100%;
    }
}
.datesconteneur {
    width:330px;
    height:100%;

}



.date {
    margin:5px 0 0 0;
    height:140px;
    border-bottom: 1px solid #ffffffdd;
    border: 1px solid #ffffffdd;
    position:relative;
    border-radius:5px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.702);
}
.date:hover {
    transform: scale(1.03);
    transition: transform 0.2s ease;
    cursor:pointer;
}
@media (max-width:768px) {
    .datesconteneur{
        width:100%;
        padding:0 40px;
        background-color: transparent;
        height:110%;
    }
    .date {
        box-shadow: none;
    }
}

.date p {
    position:absolute;
    top:44%;
    left:16%;
}
@media (max-width:768px) {
    .date{
        height: 100px;
    }
}

.datechoosen.datechoosenspring  {
    background-color: rgba(0, 68, 6, 0.248); 
    transition: background-color 0.2s ease;
}
.datechoosen.datechoosensummer  {
    background-color: rgba(0, 41, 68, 0.242); 
    transition: background-color 0.2s ease;
}
.datechoosen.datechoosenfall  {
    background-color: rgba(68, 0, 0, 0.217); 
    transition: background-color 0.2s ease;
}
.datechoosen.datechoosenwinter  {
    background-color: rgba(0, 0, 68, 0.227); 
    transition: background-color 0.2s ease;
}

.date .check1 {
    position:absolute;
    left:288px;
    top:55px;
    display:block;
}
.date .check2 {
    position:absolute;
    left:288px;
    top:55px;
    display:none;
}
.date .check3 {
    position:absolute;
    left:288px;
    top:55px;
    display:none;
}
@media (max-width:768px) {
    .date .check1 {
        display:none !important;
    }
    .date .check2 {
        display:none !important;
    }
    .date .check3 {
        display:none !important;
    }
}
.backgroundsaisonspring {
    background-color: rgba(0, 108, 31, 0.11);
}
.backgroundsaisonsummer {
    background-color: rgba(0, 88, 176, 0.11);
}
.backgroundsaisonfall {
    background-color: rgba(146, 0, 0, 0.109);
}
.backgroundsaisonwinter {
    background-color: rgba(10, 0, 97, 0.113);
}
@media (max-width:768px) {
    .backgroundsaisonspring {
        background-color: transparent;
    }
    .backgroundsaisonsummer {
        background-color: transparent;
    }
    .backgroundsaisonfall {
        background-color: transparent;
    }
    .backgroundsaisonwinter {
        background-color: transparent;
    }
    .smartphone{
        background-color: rgba(146, 0, 0, 0.109);
    }
}

.résumé {
    position:relative;
    width:320px;
    height:200px;
    text-align:center;
    background-color: rgba(255, 255, 255, 0.255);
    margin:0 auto 50px;
    padding: 15px 0;
    display:flex;
    flex-direction: column;
    border-radius: 10px;;
}
.résumé h2{
    margin: 0 0 24px;
}
.boutonconteneur {
    position:absolute;
    bottom:-40px;
    left:34px;;
    margin : 0px 0px 60px;
}

.bouton {
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow : 2px 2px 10px rgba(0, 0, 0, 0.223);
    height : 60px;
    width : 250px;
    font-size: 20px;
}
.boutonspring {
    background-color: #3c9c44dd;
}
.boutonsummer {
    background-color: #538aa9dd;
}
.boutonfall {
    background-color: #944343dd;
}
.boutonwinter {
    background-color: #4a4f99dd;
}
.boutonspring:hover {
    background-color: #015c08dd;
    cursor: pointer;
    transform:scale(1.03);
    transition: transform 0.2s ease;
    transition: background-color 0.2s ease;
}
.boutonsummer:hover {
    background-color: #013b5cdd;
    cursor: pointer;
    transform:scale(1.03);
    transition: transform 0.2s ease;
    transition: background-color 0.2s ease;
}
.boutonfall:hover {
    background-color: #5c0101dd;
    cursor: pointer;
    transform:scale(1.03);
    transition: transform 0.2s ease;
    transition: background-color 0.2s ease;
}
.boutonwinter:hover {
    background-color: #01075cdd;
    cursor: pointer;
    transform:scale(1.03);
    transition: transform 0.2s ease;
    transition: background-color 0.2s ease;
}

@media (max-width:768px){
    .bouton{
        box-shadow: none;
    }
}



.season {
    height:4rem;
}





.iframefooter {
    width:100%;
    height:460px;
    border:none;
    overflow:hidden;
}

@media (max-width:768px) {
    .iframefooter {
        height: 300px;
    }
}


.bodyspring .iframefooter {
    background-color: rgba(0, 66, 6, 0.89); 
}
.bodysummer .iframefooter {
    background-color: rgba(30, 91, 166, 0.798);
}
.bodyfall .iframefooter {
    background-color: rgba(48, 5, 0, 0.887) ;
}
.bodywinter .iframefooter {
    background-color: rgba(26, 28, 81, 0.909);
}




